{% extends 'base.html.twig' %}

{% block title %}Item index{% endblock %}

{% block body %}
    <h1>Item index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Picture</th>
                <th>Description</th>
                <th>Price</th>
                <th>Actions</th> {# Corrected the "actions" heading text #}
            </tr>
        </thead>
        <tbody>
        {% for item in items %}
            <tr>
                <td>{{ item.id }}</td>
                <td>{{ item.name }}</td>
                <td>{{ item.picture }}</td>
                <td>{{ item.description }}</td>
                <td>{{ item.price }}</td>
                <td>
                    <a href="{{ path('app_item_show', {'id': item.id}) }}" class="btn btn-primary btn-sm">Show</a>
                    <a href="{{ path('app_item_edit', {'id': item.id}) }}" class="btn btn-secondary btn-sm">Edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">No records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_item_new') }}" class="btn btn-success">Create new</a>
{% endblock %}
