{% extends 'base.html.twig' %}

{% block title %}Inventory index{% endblock %}

{% block body %}
    <h1>Inventory index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Username</th>
                <th>Profilepicture</th>
                <th>Streamz</th>
                <th>Items</th>
                <th>Gameswon</th>
                <th>Gamesplayed</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for inventory in inventories %}
            <tr>
                <td>{{ inventory.id }}</td>
                <td>{{ inventory.username }}</td>
                <td>{{ inventory.profilepicture }}</td>
                <td>{{ inventory.streamz }}</td>
                <td>{{ inventory.items ? inventory.items|join(', ') : '' }}</td>
                <td>{{ inventory.gameswon }}</td>
                <td>{{ inventory.gamesplayed }}</td>
                <td>
                    <a href="{{ path('app_inventory_show', {'id': inventory.id}) }}">show</a>
                    <a href="{{ path('app_inventory_edit', {'id': inventory.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_inventory_new') }}">Create new</a>
{% endblock %}
