{{ form_start(form) }}
    <div class="d-flex flex-column g-3">

        <div class="form-group d-flex flex-column">
            {{ form_label(form.name) }}
            {{ form_widget(form.name , {'attr': {'class': 'form-control'}}) }}
        </div>

        <div class="form-group d-flex flex-column">
            {{ form_label(form.artist) }}
            {{ form_widget(form.artist , {'attr': {'class': 'form-control'}}) }}
        </div>

        <div class="form-group d-flex flex-column">
            {{ form_label(form.date) }}
            {{ form_widget(form.date , {'attr': {'class': 'form-control'}}) }}
        </div>

        <div class="form-group d-flex flex-column">
            {{ form_label(form.certification) }}
            {{ form_widget(form.certification , {'attr': {'class': 'form-control'}}) }}
        </div>

        <div class="form-group d-flex flex-column">
            {{ form_label(form.label) }}
            {{ form_widget(form.label , {'attr': {'class': 'form-control'}}) }}
        </div>

        <div class="form-group d-flex flex-column">
            {{ form_label(form.cover) }}
            {{ form_widget(form.cover , {'attr': {'class': 'form-control'}}) }}
        </div>

        <div class="form-group d-flex flex-column" id="beatmakers-container" data-prototype="{{ form_widget(form.beatmakers.vars.prototype)|e('html_attr') }}">
            {{ form_row(form.beatmakers, {'attr': {'class': 'form-control'}}) }}
            <button type="button" class="btn btn-secondary" id="add_beatmaker">Add Beatmaker</button>
        </div>

        <button type="submit" class="btn btn-primary">
            {{ button_label|default('Save') }}
        </button>

    </div>
{{ form_end(form) }}

<script>
    document.getElementById('add_beatmaker').addEventListener('click', function() {
        var prototype = document.getElementById('beatmakers-container').dataset.prototype;
        
        // Check if prototype is not null or undefined
        if (prototype) {
            var index = document.querySelectorAll('.beatmaker-form').length;

            var newForm = prototype.replace(/__name__/g);
            var wrapper = document.createElement('div');
            wrapper.className = 'form-group beatmaker-form form-control';
            wrapper.innerHTML = newForm;

            document.getElementById('beatmakers-container').appendChild(wrapper);
        } else {
            console.error('Error: Prototype is null or undefined.');
        }
    });
</script>