{{ form_start(form) }}

    <div class="form-group flex-col">
        {{ form_row(form.name) }}
    </div>

    <div class="form-group flex-col">
        {{ form_row(form.artist) }}
    </div>

    <div class="form-group flex-col">
        {{ form_row(form.date) }}
    </div>

    <div class="form-group flex-col">
        {{ form_row(form.certification) }}
    </div>

    <div class="form-group flex-col">
        {{ form_row(form.label) }}
    </div>

    <div class="form-group flex-col">
        {{ form_row(form.cover) }}
    </div>

    <div class="form-group">
        <div id="beatmakers-container" data-prototype="{{ form_widget(form.beatmakers.vars.prototype)|e('html_attr') }}">
            <label class="col-form-label">Beatmakers</label>
            {% for beatmakerForm in form.beatmakers %}
                <div class="form-group beatmaker-form" style="border: 1px solid #ddd; padding: 5px; margin-bottom: 5px;">
                    {{ form_row(beatmakerForm) }}
                </div>
            {% endfor %}
        </div>

        <button type="button" class="btn btn-secondary" id="add_beatmaker">Add Beatmaker</button>
    </div>

    <button type="submit" class="btn btn-primary">
        {{ button_label|default('Save') }}
    </button>

{{ form_end(form) }}

<script>
    document.getElementById('add_beatmaker').addEventListener('click', function() {
        var prototype = document.getElementById('beatmakers-container').getAttribute('data-prototype');
        var index = document.querySelectorAll('.beatmaker-form').length;

        var newForm = prototype.replace(/__name__/g, index);
        var wrapper = document.createElement('div');
        wrapper.className = 'form-group beatmaker-form';
        wrapper.style.border = '1px solid #ddd';
        wrapper.style.padding = '5px';
        wrapper.style.marginBottom = '5px';
        wrapper.innerHTML = newForm;

        document.getElementById('beatmakers-container').appendChild(wrapper);
    });
</script>